<h1>本の詳細</h1>

タイトル：<%= @book.title %><br />
メモ：<%= @book.memo %><br />
購入日: <%= @book.purchased_on %><br />
<br />
<%= link_to 'メモを追加', new_book_memo_path(@book) %>
<br />
<% if @book.memos.present? %>
  <% @book.memos.each do |memo| %>
  ・<%= memo.body %>
  <%= link_to "変更", edit_book_memo_path(:book_id => @book.id, :id => memo.id) %> 
  <%= link_to "削除", book_memo_path(:book_id => @book.id, :id => memo.id), :confirm => "メモを削除しますか？", :method => :delete %>
  <br />
  <% end %>
<% end %>
<br />
<%= link_to '変更', edit_book_path(@book) %> |
<%= link_to '一覧へ戻る', books_path %>
