<h1>本の詳細</h1>

<div style="color:#14df5f;">
  <%= flash[:notice] %>
</div>

タイトル：<%= @book.title %>
メモ：<%= @book.memo %>
<br />
<%= link_to '変更', edit_book_path(@book) %> |
<%= link_to '一覧へ戻る', books_path %>
